{% extends "base.html" %}

{% block title %}Pregunta{% endblock title %}

{% block content %}
<br>
<br>
<div class="container">

    <div class="card border-primary mb-3" style="max-width: 75%;">
        <div class="card-header">
            <i>{{object.get_categoria_display}}</i>
        </div>
        <div class="card-body text-dark">
            <h4 class="card-title"><strong>{{object.texto}}</strong></h4>
            <h3>{{usuario.usuario}} puntaje {{usuario.puntaje}}</h3>
            <p class="card-text">
                <ul class="list-group">
                    {% for rta in object.get_respuestas_random %}
                        {% if rta.correcta %}
                            <li id="{{ forloop.counter }}" onclick="correcto(id)" class="list-group-item list-group-item-light correcta">
                                <strong>{{ forloop.counter }}.</strong> {{rta.texto}}
                            </li>
                        {% else %}
                            <li id="{{ forloop.counter }}" onclick="incorrecto(id)" class="list-group-item list-group-item-light incorrecta">
                                <strong>{{ forloop.counter }}.</strong> {{rta.texto}}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>


</div>
<script>
    function correcto(a) {
        document.getElementById(a).style.backgroundColor = "#d1e7dd";
    }
    function incorrecto(b) {
        document.getElementById(b).style.backgroundColor = "#f8d7da";
    }
</script>

{% endblock content %}