.bg-success {
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
}
.bg-primary {
    background-color: #35baf6 !important;
}
.btn-primary {
    background-color: #35baf6 !important;
}
.container-footer {
    margin-right: 0;
    padding-right: 10px;
}

.text-light {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    letter-spacing: 0.25em;
    color: rgba(0,100,50,var(--bs-text-opacity))!important;
}

.tituloRegistro {
    margin-bottom: 1.8%;
    
}

.formulario {
    margin-top: 5%;
}

.condicionesRegistro {
    margin-left: 1.2%;
}

.loginSaludo {
    margin-top: 25%;
}



.subTitulo {
    margin-top: 2%;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
}

.categoriasTrivia {
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
    font-size: 20px;
}

.body1 {
    background-color: rgb(235, 235, 227);
}

.list-container {
    display: flex;
    flex-direction: column;
}

.logoChaco {
    width: 500px;
    margin: 0;
    padding: 0;
}
.btn:hover {
    background-color: rgba(1,78,113,1)!important;
}
.nav-link {
    color: rgba(255,255,255,.80)!important;
}
.nav-link:hover {
    color:rgba(255, 255, 255, 1)!important;
}
.div-container {
    display: block;
}
/* @media screen and (max-width:992px) {
    max-height: 1200px;
} */



