.bg-success {
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
}
.bg-primary {
    background-color: #35baf6 !important;
}
.btn-primary {
    background-color: #35baf6 !important;
}
.container-footer {
    margin-right: 0;
    padding-right: 10px;
}

.text-light {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    letter-spacing: 0.25em;
    color: rgba(0,100,50,var(--bs-text-opacity))!important;
}

.tituloRegistro {
    margin-bottom: 1.8%;
    
}

.formulario {
    margin-top: 5%;
}

.condicionesRegistro {
    margin-left: 1.2%;
}

.loginSaludo {
    margin-top: 25%;
}

.subTitulo {
    margin-top: 2%;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
}

.categoriasTrivia {
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
    font-size: 20px;
    max-height: 625px!important;
}
.container-main {
    max-height: 625px;
}
.body1 {
    background-color: rgb(235, 235, 227);
}

.list-container {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 400px!important;
}
.logo-container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    height: auto;
    width: auto;
}

.logoChaco {
    height: 100%;
    max-height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.btn:hover {
    background-color: rgba(1,78,113,1)!important;
}
.nav-link {
    color: rgba(255,255,255,.80)!important;
}
.nav-link:hover {
    color:rgba(255, 255, 255, 1)!important;
}
.div-container {
    display: block;
}
.btn-container {
    margin-right: 10px;
}
.container-b {
    display: flex;
    flex-wrap: inherit;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.sub-container {
    display: flex;
}
.navbar-nav {
    display: flex;
    align-items: flex-end;
}
.navbar {
    display:block;
}
.container-form {
    padding: 0;
    margin-right: 10px;
}
.sub-container-list {
    display: flex;
    flex-direction: column;
}
@media (max-width: 840px) {
    .categoriasTrivia {
        display: block;
    }
    .logo-container {
        max-width: 95%;
    }
}
@media (max-width: 530px) {
    .container-b {
        flex-direction: column;
    }
}


