{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<br>
<br>

<body class="body1"> </body>

<div>

<h3 class="subTitulo"><b>Bienvenidos a la Trivia sobre Chaco</b></h3>

<br>

<div class="categoriasTrivia">

<p> Te invitamos a que respondas un par de preguntas para saber cuánto sabes de esta <b>provincia</b> </p>
<p>Este juego cuenta con diferentes categorías como por <b>Ejemplo:</b></p>

<ul>
    <li><b>Educación</b></li>
    <li><b>Cultura y Arte</b></li>
    <li><b>Historia</b></li>
    <li><b>Economía</b></li>
    <li><b>Geografía</b></li>
</ul>

<p> Esperemos que lo disfrutes! <b>Para empezar a jugar registrate o inicia sesión si ya contas con una cuenta</b> </p>
</div>

<img src="../static/images/logo.png" alt="Provincia Chaco" class="logoChaco">

</div>


{% endblock content %}