{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<br>
<br>

<body class="body1">

    <div class=div-container>

        <div class="categoriasTrivia">
            <div class="logo-container">
                <img src="../static/images/logo.png" alt="Provincia Chaco" class="logoChaco">
            </div>
            <div class="list-container">
                <h3 class="subTitulo"><b>Bienvenidos a la Trivia sobre Chaco</b></h3>
                <p>En este <b>70º Aniversario</b> te invitamos a que respondas un par de preguntas para saber cuánto sabes de nuestra <b>Provincia</b> </p>
                <p>Este juego cuenta con diferentes categorías como por <b>Ejemplo:</b></p>

                <ul>
                    <li><b>Educación y Ciencia</b></li>
                    <li><b>Cultura y Arte</b></li>
                    <li><b>Historia</b></li>
                    <li><b>Economía</b></li>
                    <li><b>Geografía</b></li>
                    <li><b>Deportes</b></li>
                    <li><b>Entretenimiento</b></li>
                </ul>

                <p> Esperemos que lo disfrutes! <b>Para empezar a jugar registrate o inicia sesión si ya contas con una cuenta</b> </p>
                <br>
                <br>
            </div>
        </div>

    </div>

</body>

{% endblock content %}