{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="titulo-juego">
  <h2><strong>¡Elige un nivel!</strong></h2>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Facil</h5>
            <p class="card-text">Preguntas de cultura general sobre el Chaco</p>
              <a href="{% url 'preguntas-facil' %}" class="btn btn-primary">Jugar</a>
          </div>
      </div>
    </div>

      <div class="col">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Normal</h5>
            <p class="card-text">Conocimiento intermedio</p>
              <a href="{% url 'preguntas-normal' %}" class="btn btn-primary">Jugar</a>
          </div>
      </div>
    </div>

      <div class="col">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dificil</h5>
            <p class="card-text">Desafía tus conocimientos sobre la provincia</p>
              <a href="{% url 'preguntas-dificil' %}" class="btn btn-primary">Jugar</a>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}