{% extends "base.html" %}

{% block title %}Resultado{% endblock title %}

{% block content %}
<br>
<br>
<h1><strong>Resultados</strong></h1>


<table class="table">
    <!-- Cabeceras -->
    <thead>
        <tr class="table">
            <th scope="col">Pregunta</th>
            <th scope="col">Respuesta correcta</th>
            <th scope="col">Elegiste</th>
        </tr>
    </thead>

    <tbody>
    {% for pregunta in preguntas_originales %}
    <!-- Filas -->
        <tr class="table">
            <td scope="row">{{pregunta.texto}}</td>
            <td scope="row">{{pregunta.get_respuestas_ok}}</td>

            {% for key,rta in respuestas_sel.items %}
                {% if pregunta.id == key %}
                    {% if rta.correcta %}
                        <td class="table-success" scope="row">{{rta.texto}}</td>
                    {% else %}
                        <td class="table-danger" scope="row">{{rta.texto}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if correctas > 6 %}
<h3>Buen trabajo! Respondiste {{correctas}} de 10 de manera correcta</h3>
{% else %}
<h3>Suerte la próxima! Respondiste {{correctas}} de 10 manera correcta</h3>
{% endif %}
<br>
<br>

{% endblock content %}